body {
  margin: 0;
  font-family: system-ui;
}

header {
  border-bottom: 1px solid #d1d5db;
}

nav {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
  align-items: center;
  box-sizing: border-box;

  @media (min-width: 768px) {
    padding: 20px;
  }
}

.blog-title {
  margin: 0 auto 0 0;
  color: #1f2937;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;

  @media (min-width: 768px) {
    font-size: 24px;
  }
}

.menu-button {
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: #8d9299;
  cursor: pointer;
  mask-image: url("/assets/icon-dropdown-menu.svg");
  mask-size: 100%;

  &:hover {
    background-color: #121314;
  }

  @media (min-width: 768px) {
    display: none;
  }
}

.menu {
  display: none;

  &.mobile {
    display: block;
    position: absolute;
    z-index: 10;
    top: 56px;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #d9dbe0;
    background-color: #ffffff;
  }

  @media (min-width: 768px) {
    display: flex;
  }
}

.menu-item {
  margin-left: 40px;
  color: #121314;
  font-weight: 500;
  line-height: 20px;
  cursor: pointer;
  transition: color 0.3s ease;

  &:hover {
    color: #8d9299;
  }

  .menu.mobile & {
    margin: 6px 0 0 0;
    padding: 16px 24px;
    animation: slideDown 0.3s ease-out forwards;
  }
}

@keyframes slideDown {
  from {
    height: 0;
    opacity: 0;
  }

  to {
    height: 20px;
    opacity: 1;
  }
}

.search-button {
  width: 24px;
  height: 24px;
  margin-left: 40px;
  padding: 0;
  background-color: #8d9299;
  cursor: pointer;
  mask-image: url("/assets/icon-search.svg");
  mask-size: 100%;

  &:hover {
    background-color: #121314;
  }

  @media (min-width:768px) {
    display: none;
  }
}

.search-bar {
  display: none;

  &.mobile {
    display: block;
    position: absolute;
    z-index: 10;
    top: 69px;
    right: 12px;
    width: 320px;
    padding: 16px;
    border: 1px solid #d1d5db;
    border-radius: 16px;
    background-color: #ffffff;
  }

  @media (min-width: 768px) {
    display: block;
    position: relative;
    width: 320px;
    margin-left: 40px;
  }
}

.search-input {
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  outline: 0;
  background-color: #f3f5fa;
  box-shadow: 0 1px 2px #e6e6e6;
  font-size: 16px;
  line-height: 24px;
  box-sizing: border-box;

  &::placeholder {
    color: #8d9299;
  }
}

.search-actions {
  display: flex;
  position: absolute;
  top: 50%;
  right: 32px;
  transform: translateY(-50%);
  align-items: center;
  gap: 8px;

  @media (min-width: 768px) {
    right: 16px;
  }
}

.search-reset-button {
  width: 16px;
  height: 16px;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: #26241f;
  background-image: url("/assets/icon-X.svg");
  background-size: 100%;
  filter: invert(1);
  cursor: pointer;

  &:hover {
    background-color: #b8b6b2;
  }
}

.search-submit-button {
  width: 21px;
  height: 21px;
  padding: 0;
  background-color: #8d9299;
  mask-image: url("/assets/icon-search.svg");
  mask-size: 100%;
  cursor: pointer;

  &:hover {
    background-color: #121314;
  }
}