body {
  margin: 0;
  font-family: system-ui;
}

header {
  display: flex;
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  align-items: center;
}

.blog-title {
  margin: 0 auto 0 0;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;

  @media (min-width: 768px) {
    font-size: 24px;
  }
}

menu {
  display: block;
  z-index: 10;
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
  background-color: color-mix(white, transparent);
  background-image: url("/assets/icon-dropdown-menu.svg");
  background-position: center;
  background-size: 100%;
  background-blend-mode: lighten;
  cursor: pointer;
  user-select: none;

  &:hover:not(:has(*:hover)) {
    background-color: transparent;
  }

  @media (min-width: 768px) {
    all: unset;
    display: flex;
  }
}

.menu-item {
  display: none; 
  box-sizing: border-box;
  width: 100vw;
  margin: 0 0 0 calc(104px - 100vw); 
  padding: 20px 24px;
  background: white;
  font-weight: 500;
  transform: translateY(40px);
  transition: color 0.3s ease;
  cursor: pointer;
  user-select: text;

  menu[open] & {
    display: block;
    animation: slideDown 0.3s ease-in-out forwards;

    &:last-child {
      border-bottom: 1px solid gainsboro;
    }
  }

  &:hover {
    color: gray;
  }

  a {
    all: unset;
  }

  @media (min-width: 768px) {
    display: block;
    width: auto;
    margin-left: 40px; 
    padding: 0;
    transform: none;
  }
}

@keyframes slideDown {
  from {
    height: 40px;
    opacity: 0;
  }

  to {
    height: 60px;
    opacity: 1;
  }
}

search {
  width: 24px;
  height: 24px;
  margin-left: 40px;
  padding: 0;
  background-color: color-mix(white, transparent);
  background-image: url("/assets/icon-search.svg");
  background-position: center;
  background-size: 100%;
  background-blend-mode: lighten;
  cursor: pointer;
  user-select: none;

  &:hover:not(:has(*:hover)) {
    background-color: transparent;
  }

  @media (min-width: 768px) {
    all: unset;
  }
}

.search-bar {
  display: none;

  &[open] {
    display: block;
    position: absolute;
    z-index: 10;
    top: 64px;
    right: 0;
    width: 320px;
    padding: 16px;
    border-bottom: 1px solid gainsboro;
    border-left: 1px solid gainsboro;
    border-bottom-left-radius: 16px;
    background-color: white;
    cursor: auto;
  }

  @media (min-width: 768px) {
    display: block;
    position: relative;
    width: clamp(240px, 30vw, 320px);
    margin-left: 40px;
  }
}

.search-input {
  box-sizing: border-box;
  width: 100%;
  padding: 12px 72px 12px 20px;
  border: none;
  border-radius: 8px;
  outline: 0;
  background-color: ghostwhite;
  box-shadow: 0 1px 2px gainsboro;
  font-size: 16px;
  line-height: 24px;

  &::placeholder {
    color: darkgray;
  }
}

.search-reset-button {
  position: absolute;
  top: 50%;
  right: 64px;
  width: 16px;
  height: 16px;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: color-mix(black 70%, white 30%);
  background-image: url("/assets/icon-X.svg");
  background-size: 100%;
  filter: invert(100%);
  transform: translateY(-50%);
  cursor: pointer;

  &:hover {
    background-color: darkgray;
  }

  @media (min-width: 768px) {
    right: 48px;
  }
}

.search-submit-button {
  position: absolute;
  top: 50%;
  right: 32px;
  width: 21px;
  height: 21px;
  padding: 0;
  border: none;
  background-color: gray;
  mask-image: url("/assets/icon-search.svg");
  mask-size: 100%;
  transform: translateY(-50%);
  cursor: pointer;

  &:hover {
    background-color: black;
  }

  @media (min-width: 768px) {
    right: 16px;
  }
}