main {
  display: grid;
  grid-template-columns: 1fr;
  border-top: 1px solid gainsboro;
}

.feed {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: 24px;
  grid-column-start: 1;
  grid-row-start: 1;
  box-sizing: border-box;
  max-width: 1200px;
  height: fit-content;
  margin: 32px 0;
  padding: 0 32px;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 28px;
    margin: 60px 0;
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 32px;
    margin: 60px auto;
  }

  .not-found,
  .no-results {
    grid-column: 1 / -1;
    padding: 48px;
    text-align: center;
  }
}

.feed-item {
  background-color: white;
  box-shadow: 0 2px 8px gainsboro;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    box-shadow: 0 4px 16px lightgray;
    transform: translateY(-8px);
  }
}

.preview {
  all: unset;
  display: block;
  padding-bottom: 57px;
}

.thumbnail {
  display: block;
  width: 100%;
  margin-bottom: 24px;
  aspect-ratio: 16 / 9;
}

.title {
  margin: 8px 24px;
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.excerpt {
  height: 48px;
  margin: 8px 24px;
  color: dimgray;
  font-size: 14px;
  line-height: 24px;
}

.date {
  margin: 16px 24px;
  color: gray;
  font-size: 12px;
}

.category-list {
  margin-top: -57px;
  padding: 16px 24px;
  border-top: 1px solid color-mix(gainsboro, white);
  pointer-events: none;
}

.category {
  display: inline-block;
  margin-right: 8px;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: color-mix(mediumslateblue 30%, white 70%);
  color: mediumslateblue;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  line-height: 16px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  pointer-events: auto;

  &:hover {
    background-color: color-mix(mediumslateblue 70%, white 30%);
    color: white;
  }
}

.content {
  grid-column-start: 1;
  grid-row-start: 1;
  box-sizing: border-box;
  width: 100%;
  max-width: 880px;
  height: fit-content;
  margin: 40px auto 20px auto;
  padding: 0 20px;

  @media (min-width: 768px) {
    margin: 80px auto 40px auto;
    padding: 0 40px;
  }
}

.pagination {
  display: flex;
  gap: 8px;
  align-items: center;
  margin: -32px auto 0;

  @media (min-width: 768px) {
    margin: -60px auto 0;
  }
}

.page-prev {
  width: 18px;
  height: 18px;
  background-color: gray;
  mask-image: url("/assets/icon-prev.svg");
  mask-size: 100%;

  &:hover {
    background-color: black;
  }

  &:not([href]) {
    background-color: gainsboro;
    cursor: auto;
  }

  @media (min-width: 768px) {
    width: 20px;
    height: 20px;
  }
}

.page-next {
  width: 18px;
  height: 18px;
  background-color: gray;
  mask-image: url("/assets/icon-next.svg");
  mask-size: 100%;

  &:hover {
    background-color: black;
  }

  &:not([href]) {
    background-color: gainsboro;
    cursor: auto;
  }

  @media (min-width: 768px) {
    width: 20px;
    height: 20px;
  }
}

.page-first {
  width: 18px;
  height: 18px;
  background-color: gray;
  mask-image: url("/assets/icon-first.svg");
  mask-size: 100%;

  &:hover {
    background-color: black;
  }

  &:not([href]) {
    background-color: gainsboro;
    cursor: auto;
  }

  @media (min-width: 768px) {
    width: 20px;
    height: 20px;
  }
}

.page-last {
  width: 18px;
  height: 18px;
  background-color: gray;
  mask-image: url("/assets/icon-last.svg");
  mask-size: 100%;

  &:hover {
    background-color: black;
  }

  &:not([href]) {
    background-color: gainsboro;
    cursor: auto;
  }

  @media (min-width: 768px) {
    width: 20px;
    height: 20px;
  }
}

.page-list {
  display: flex;
  gap: 4px;
  padding: 32px 0;

  @media (min-width: 768px) {
    padding: 40px 0;
  }
}

.page-number {
  width: 36px;
  color: gray;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
  line-height: 18px;

  &:hover {
    cursor: pointer;
  }

  &.current {
    color: mediumslateblue;
    font-weight: bold;
  }

  @media (min-width: 768px) {
    font-size: 16px;
    width: 40px;
    line-height: 20px;
  }
}

.category-dropdown {
  display: none;
  grid-column-start: 1;
  grid-row-start: 1;
  justify-self: end;
  position: sticky;
  top: 32px;
  height: fit-content;
  margin: 32px;
  border: 1px solid gainsboro;
  border-radius: 8px;
  background-color: white;
  user-select: none;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}

.category-dropdown-button {
  width: 48px;
  height: 48px;
  background-color: dimgray;
  mask-image: url("/assets/icon-chapter.svg");
  mask-size: 50%;
  mask-repeat: no-repeat;
  mask-position: center;
  list-style: none;

  .category-dropdown[open] & {
    margin-left: auto;
    mask-image: url("/assets/icon-side-close-right.svg");
  }

  &:hover {
    background-color: black;
    cursor: pointer;
  }
}

.category-dropdown-title {
  margin: -48px 0 0;
  padding: 14px 20px;
  font-size: 14px;
  line-height: 20px;
  user-select: text;
}

.category-menu {
  width: 200px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.category-menu-item {
  transition: background-color 0.2s ease-in-out;
  user-select: text;

  &:hover {
    background-color: whitesmoke;
  }

  a {
    display: block;
    padding: 12px 20px;
    text-decoration: none;
    line-height: 24px;
  }
}

.category-name {
  color: black;
}

.count {
  color: gray;
}