main {
  display: grid;
  grid-template-columns: 100%;
}

.post-list {
  display: grid;
  gap: 16px;
  margin-bottom: 20px;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px 25px;
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 25px;
  }
}

.post-card {
  overflow: hidden;
  background-color: white;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  width: auto;
  border-radius: 12px; /* 모서리를 둥글게 하는 속성 */
  padding: 24px; /* 안쪽 여백 추가 */
  /* border: 1px solid #d9dbe0; */ /* 기존 border 제거 */
  box-shadow: 0 2px 8px #e0e0e0; /* 기본 상태: 연한 회색 그림자 */

  &:hover {
    transform: translateY(-2px) scale(1.02); /* 위쪽으로 2px 이동하고 1.02배 확대 */
    box-shadow: 0 4px 16px #c0c0c0; /* 호버 시: 연한 회색 그림자 */
  }
}

.thumbnail {
  margin: 0 0 12px 0;
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 16px;
  overflow: hidden;
}

.title {
  margin: 0 0 12px 0;
  font-size: 24px;
  font-weight: bold;
}

.description {
  height: 64px;
  margin: 0 0 12px 0;
  color: #47494d;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
}

.date {
  display: block;
  margin: 0;
  color: #8d9299;
  font-size: 14px;
  font-weight: normal;
}

.category-list {
  display: block;
  margin: 0 0 12px 0;
}

.category {
  display: inline-block;
  margin-right: 10px;
  background-color: #ddd6fe;
  color: #8b5cf6;
  font-size: 14px;
  font-weight: 500;
  padding: 6px 12px;
  border-radius: 8px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  cursor: pointer;
}

.category:hover {
  background-color: #a78bfa;
  color: #ffffff;
}

/*article*/

article {
  grid-row-start: 1;
  grid-column-start: 1;
  box-sizing: border-box;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 32px 20px 16px 20px;

  @media (min-width: 768px) {
    padding-top: 60px;
  }
}

.content {
  margin-top: 24px; /* mt-6: 위쪽 여백 1.5rem (24px) */
  margin-bottom: 40px; /* mb-28: 아래쪽 여백 7rem (112px) */
  max-width: 800px; /* 최대 너비 990px로 설정 */
  margin-left: auto; /* 왼쪽 마진 자동으로 설정 (가운데 정렬을 위해) */
  margin-right: auto; /* 오른쪽 마진 자동으로 설정 (가운데 정렬을 위해) */
}

/* 페이지네이션 섹션 */

.pagination {
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.page-prev {
  width: 20px;
  height: 20px;
  background-color: #8d9299;
  mask-image: url("../assets/icon-prev.svg");
  mask-size: 100%;

  &:hover {
    background-color: #47494d; /* graylv4 */
  }

  &:disabled {
    background-color: #d9dbe0; /* graylv4 */
  }
}

.page-next {
  width: 20px;
  height: 20px;
  background-color: #8d9299;
  mask-image: url("../assets/icon-next.svg");
  mask-size: 100%;

  &:hover {
    background-color: #47494d; /* graylv4 */
  }

  &:disabled {
    background-color: #d9dbe0; /* graylv4 */
  }
}

.page-first {
  width: 20px;
  height: 20px;
  background-color: #8d9299;
  mask-image: url("../assets/icon-first.svg");
  mask-size: 100%;

  &:hover {
    background-color: #47494d; /* graylv4 */
  }

  &:disabled {
    background-color: #d9dbe0; /* graylv4 */
  }
}

.page-last {
  width: 20px;
  height: 20px;
  background-color: #8d9299;
  mask-image: url("../assets/icon-last.svg");
  mask-size: 100%;

  &:hover {
    background-color: #47494d; /* graylv4 */
  }

  &:disabled {
    background-color: #d9dbe0; /* graylv4 */
  }
}

.page-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.page-number {
  all: unset;
  text-align: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 16px;
  font-weight: normal;
  color: #8d9299; /* graylv3 */
}

.page-number.active {
  color: #8b5cf6; /* primary color */
  font-weight: bold;
}


/* 카테고리 버튼 섹션 */

.category-search {
  grid-row-start: 1;
  grid-column-start: 1;
  display: none;
  flex-direction: column;
  border: 1px solid #d9dbe0;
  background-color: white;
  border-radius: 10px;
  position: sticky;
  top: 32px;
  margin: 32px;
  overflow-y: auto;
  width: fit-content;
  height: fit-content;
  justify-self: end;
}

@media (min-width: 768px) {
  .category-search {
    display: flex;
  }
}

.category-search-header {
  display: flex;
  align-items: center;
}

.category-search-title {
  display: none;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  margin-left: 20px;

  &.active {
    display: block;
  }
}

.category-search-button {
  width: 50px;
  height: 50px;
  padding: 13px;
  background-color: #47494d;
  display: flex;
  align-items: center;
  justify-content: center;
  mask-image: url("../assets/icon-chapter.svg");
  mask-size: 50%;
  mask-repeat: no-repeat;
  mask-position: center center;

  &.active {
    margin-left: auto;
    mask-image: url("../assets/icon-side-close-right.svg");
  }

  &:hover {
    cursor: pointer;
  }
}

aside {
  display: none;
  flex-direction: column;
  overflow-y: auto;
  border-radius: 6px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  z-index: 10;

  &.active {
    display: flex;
  }

  @media (min-width: 768px) {
    width: 200px;
  }
}

aside div {
  font-size: 16px;
  font-weight: 400;
  padding: 9px 20px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

aside div:hover {
  background-color: #f3f5fa; /* graylv1 */
}

aside span {
  font-size: 16px;
  font-weight: 400;
  color: #8d9299; /* graylv3 */
  margin-left: 4px;
}