main {
  display: grid;
  grid-template-columns: 1fr;
  border-top: 1px solid gainsboro;
}

.feed {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 40px 25px;
  grid-column-start: 1;
  grid-row-start: 1;
  box-sizing: border-box;
  max-width: 1200px;
  margin: 60px auto 20px;
  padding: 0 20px;

  @media (max-width: 1023px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 16px 25px;
    margin-top: 60px 0 20px;
  }

  @media (max-width: 767px) {
    grid-template-columns: minmax(0, 1fr);
    gap: 16px;
    margin: 32px 0 20px;
  }

  .not-found,
  .no-results {
    grid-column: 1 / -1;
    padding: 50px;
    text-align: center;
  }
}

.feed-item {
  padding: 24px;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 2px 8px gainsboro;
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    box-shadow: 0 4px 16px darkgray;
    transform: translateY(-2px) scale(1.02);
  }
}

.thumbnail {
  width: 100%;
  height: 200px;
  margin: 0 0 12px 0;
  border-radius: 16px;
  object-fit: cover;
  object-position: center;
}

.title {
  margin: 0 0 12px 0;
  font-size: 20px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.excerpt {
  height: 64px;
  margin: 0 0 12px 0;
  color: dimgray;
  line-height: 24px;
}

.date {
  margin: 0;
  color: gray;
  font-size: 14px;
}

.category-list {
  margin: 0 0 12px 0;
}

.category {
  display: inline-block;
  height: 18px;
  margin-right: 10px;
  padding: 6px 12px;
  border-radius: 8px;
  background-color: color-mix(mediumslateblue 30%, white 70%);
  color: mediumslateblue;
  font-size: 14px;
  font-weight: 500;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  cursor: pointer;
}

.category:hover {
  background-color: color-mix(mediumslateblue 70%, white 30%);
  color: white;
}

.content {
  grid-column-start: 1;
  grid-row-start: 1;
  max-width: 800px;
  margin: 84px auto 0 auto;
  padding: 0 20px;

  @media (max-width: 767px) {
    margin-top: 56px;
  }

}

.pagination {
  display: flex;
  gap: 8px;
  margin: 20px auto 40px auto;
  align-items: center;
}

.page-prev {
  width: 20px;
  height: 20px;
  background-color: gray;
  mask-image: url("/assets/icon-prev.svg");
  mask-size: 100%;

  &:hover {
    background-color: black;
    cursor: pointer;
  }

  &:disabled {
    background-color: gainsboro;
    cursor: auto;
  }
}

.page-next {
  width: 20px;
  height: 20px;
  background-color: gray;
  mask-image: url("/assets/icon-next.svg");
  mask-size: 100%;

  &:hover {
    background-color: black;
    cursor: pointer;
  }

  &:disabled {
    background-color: gainsboro;
    cursor: auto;
  }
}

.page-first {
  width: 20px;
  height: 20px;
  background-color: gray;
  mask-image: url("/assets/icon-first.svg");
  mask-size: 100%;

  &:hover {
    background-color: black;
    cursor: pointer;
  }

  &:disabled {
    background-color: gainsboro;
    cursor: auto;
  }
}

.page-last {
  width: 20px;
  height: 20px;
  background-color: gray;
  mask-image: url("/assets/icon-last.svg");
  mask-size: 100%;

  &:hover {
    background-color: black;
    cursor: pointer;
  }

  &:disabled {
    background-color: gainsboro;
    cursor: auto;
  }
}

.page-list {
  display: flex;
  gap: 4px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-number {
  all: unset;
  width: 40px;
  height: 40px;
  color: gray;
  text-align: center;

  &:hover {
    cursor: pointer;
  }

  &.current {
    color: mediumslateblue;
    font-weight: bold;
  }
}

.category-dropdown {
  display: flex;
  flex-direction: column;
  grid-column-start: 1;
  grid-row-start: 1;
  justify-self: end;
  position: sticky;
  top: 32px;
  height: fit-content;
  margin: 32px;
  border: 1px solid gainsboro;
  border-radius: 10px;
  background-color: white;
  user-select: none;

  @media (max-width: 767px) {
    display: none;
  }
}

.category-dropdown-button {
  width: 50px;
  height: 50px;
  background-color: dimgray;
  mask-image: url("/assets/icon-chapter.svg");
  mask-size: 50%;
  mask-repeat: no-repeat;
  mask-position: center;
  list-style: none;

  .category-dropdown[open] & {
    margin-left: auto;
    mask-image: url("/assets/icon-side-close-right.svg");
  }

  &:hover {
    background-color: black;
    cursor: pointer;
  }
}

.category-dropdown-title {
  margin: -50px 0 0;
  padding: 15px 20px;
  font-size: 14px;
  line-height: 20px;
  user-select: text;
}

.category-menu {
  width: 200px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.category-menu-item {
  height: 25px;
  padding: 10px 20px;
  align-content: center;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
  user-select: text;

  &:hover {
    background-color: whitesmoke;
  }
}

.count {
  color: gray;
}